*{
	margin: 0;
	padding: 0;
}

/* headder */
#header{
	width: 100%;
	/* height: 30px; */
	border: 1px slid #f00;
	margin: 0 auto;
	background-color: #eee;
	
}
#header>div{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header_le{flex: 0 0 20%;font-size: 12px;}
/* .header_le p{font-size: px;} */
.header_ri{flex: 0 0 30%;}
.header_ri ul{
	width: 80%;
	display: flex;
	list-style: none;
	justify-content: space-between;
	font-size: 12px;
}
.header_ri ul li a{
	color: #666;
	text-decoration: none;
}


